{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-4 text-white-heading">Categorías</h1>
    <div class="list-group">
        <h2 class="list-group-item list-group-item-action active">
            Nuestras Categorías
        </h2>
        <a href="{% url 'jugueteria_pechan:category_view' '0 a 6 meses' %}" class="list-group-item list-group-item-action">0 a 6 meses</a>
        <a href="{% url 'jugueteria_pechan:category_view' '6 a 12 meses' %}" class="list-group-item list-group-item-action">6 a 12 meses</a>
        <a href="{% url 'jugueteria_pechan:category_view' '1 a 2 años' %}" class="list-group-item list-group-item-action">1 a 2 años</a>
        <a href="{% url 'jugueteria_pechan:category_view' '3 a 5 años' %}" class="list-group-item list-group-item-action">3 a 5 años</a>
        <a href="{% url 'jugueteria_pechan:category_view' '5 a 8 años' %}" class="list-group-item list-group-item-action">5 a 8 años</a>
        <a href="{% url 'jugueteria_pechan:category_view' '11 a 14 años' %}" class="list-group-item list-group-item-action">11 a 14 años</a>
        <a href="{% url 'jugueteria_pechan:category_view' 'ropa' %}" class="list-group-item list-group-item-action">Ropa</a>
        <a href="{% url 'jugueteria_pechan:category_view' 'muebles' %}" class="list-group-item list-group-item-action">Muebles</a>
        <a href="{% url 'jugueteria_pechan:category_view' 'herramientas' %}" class="list-group-item list-group-item-action">Herramientas</a>
        <a href="{% url 'jugueteria_pechan:category_view' 'objetos decorativos' %}" class="list-group-item list-group-item-action">Objetos Decorativos</a>
    </div>
</div>
{% endblock content %}