{% extends "base.html" %}

<!-- Este codigo hace una lista de los clientes para mostrarla en "lista de clientes" -->

{% block title %}Lista de Clientes{% endblock title %}Lista de Clientes
{% block content %}
    
    <ul padding="200px">
        <h1 class="text-center mb-4 text-white-heading">Agregar Clientes</h1>

        <form method="post" enctype="multipart/form-data" class="text-white">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Agregar Cliente</button>
        </form>
    </ul>
{% endblock content %}