{% extends "base.html" %}

{% block title %}Jugueteria Pechan{% endblock %}

{% block content %}
  <div class="custom-container">
    <div class="custom-card-container">

      {% comment %} Estas son las cards del index {% endcomment %}
      <div class="custom-card">
        <div class="custom-box">
          <div class="custom-content">
            <h3>Clientes</h3>
            <p>Consultar la base de datos de los clientes</p>
            <a href="{% url "jugueteria_pechan:client_list" %}">Abrir</a>
          </div>
        </div>
      </div>

      <div class="custom-card">
        <div class="custom-box">
          <div class="custom-content">
            <h3>Productos</h3>
            <p>Listado de los productos del inventario </p>
            <a href="{% url "jugueteria_pechan:product_list" %}">Abrir</a>
          </div>
        </div>
      </div>

      <div class="custom-card">
        <div class="custom-box">
          <div class="custom-content">
            <h3>Categorias</h3>
            <p>Nuestras categorias de productos</p>
            <a href="{% url "jugueteria_pechan:category_list" %}">Abrir</a>
          </div>
        </div>
      </div>

      <div class="custom-card">
        <div class="custom-box">
          <div class="custom-content">
            <h3>Ventas</h3>
            <p>Consulta o ingresa una venta en el siguiente enlace</p>
            <a href="{% url "jugueteria_pechan:sale_list" %}">Abrir</a>
          </div>
        </div>
      </div>
    </div>
  </div>



<div class="prueba">
  
</div>








  
{% endblock content %}